flask==0.12.2
psycopg2==2.7.3.2
marshmallow==2.15.0
sqlalchemy=-1.2.0
flask-sqlalchemy==2.3.2
flask-jsontools
flask-marshmallow==0.8.0
marshmallow-sqlalchemy==0.13.2
flask-bcrypt==0.7.1
flask-testing==0.71
flask-cors==3.0.3
sqlalchemy-datatables
flask-login==0.4.1
blinker==1.4